---
import Base from "@/layouts/Base.astro";
import { adminTables } from "@/lib/admin";
---

<Base title="Admin">
  <h1>Admin</h1>
  <p>Fancy knobs and buttons to press</p>
  <h2>Manage</h2>
  <ul>
    {
      Object.keys(adminTables).map((t) => (
        <li>
          <a href={`/admin/${t}`}>{t}</a>
        </li>
      ))
    }
  </ul>
</Base>
